body {
    margin: 0;
    /* background-color: rgb(31, 29, 29); */
    background-color: #E1A03A;
    color: white;
    font-family: "Poppins", serif;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.page-content{
    position: absolute;
    z-index: 1;
}

/* Posicionar en la esquina correspondiente */
.page-content.left-zero{
    opacity: 0;
    transform: translate(-100vw,0);
}

.page-content.right-zero{
    opacity: 0;
    transform: translate(100vw,0);
}

/* mover al lado contrario */
.page-content.exit-right{
    opacity: 0;
    transition: all ease-in-out 0.3s;
    transform: translate(100vw,0);
}

.page-content.exit-left{
    transition: all ease-in-out 0.3s;
    transform: translate(-100vw,0);
}

/* Centrar */
.page-content.base{
    opacity: 1;
    transform: translate(0,0);
    transition: transform ease-in-out 0.3s;
}